<div class="footer-container">
    <div class="left-section">
        <img src="assets/img/Logo-footer.png" alt="" srcset="">
    </div>
    <div class="vl"></div>
    <div class="left-center-section">
        <h2>¿Dónde estamos?</h2>
        <p>HeadQuarter</p>
        <p>Panamá 155, Tandil,</p>
        <p>Buenos Aires,</p>
        <p>Argentina, 7000</p>
        <p>contactus@lamansys.com.ar</p>
    </div>
    <div class="vl"></div>
    <div class="right-center-section">
        <h2>Lamansys</h2>
        <p>Inicio</p>
        <p>Nosotros</p>
        <p>Servicios</p>
        <p>Proyectos</p>
        <p>Contacto</p>
    </div>
    <div class="vl"></div>
    <div class="right-section">
        <img src="assets/img/logo-pladema.png" alt="" srcset="">
    </div>
</div>