<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="titulo-container">
      <h1 class="titulo">
        Lista de Tareas de Juan
      </h1>
      <img class="profile-image" src="assets/img/profile-image.JPG" alt="">
    </div>
    <div class="add-task-container">
      <input type="text" class="search-bar">
      <button class="button-add">ADD</button>
    </div>
    <div class="task">
      <div class="task-start">
        <input type="checkbox" name="" id="" class="checkboxs">
        <p class="task-name"> Tarea 1 </p>
      </div>
      <button class="btn-delete"><img src="assets/img/delete_black_24dp.svg" alt=""></button> <!-- BOTÓN ELIMINAR --</button> --->
    </div>
    <div class="task">
      <div class="task-start">
        <input type="checkbox" name="" id="" class="checkboxs">
        <p class="task-name"> Tarea 2</p>
      </div>
      <button class="btn-delete"><img src="assets/img/delete_black_24dp.svg" alt=""></button> <!-- BOTÓN ELIMINAR --</button> --->
    </div>
    <div class="task">
      <div class="task-start">
        <input type="checkbox" name="" id="" class="checkboxs">
        <p class="task-name"> Tarea 3</p>
      </div>
      <button class="btn-delete"><img src="assets/img/delete_black_24dp.svg" alt=""></button> <!-- BOTÓN ELIMINAR --</button> --->
    </div>
  </div>

</body>

</html>